@import '../../styles/variables.scss';
.primaryButton {
  border: none;
  outline: none;
  padding: 1rem;
  background: $white-color;
  border: 1px solid $secorndary-color;
  border-radius: 10px;
  color: $secorndary-color;
  width: 100%;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.2rem;
}
@media only screen and (max-width: 1040px) {
  .primaryButton {
    padding: 0.7rem;
    color: $secorndary-color;
    font-size: 0.7rem;
    line-height: 0.9rem;
  }
}
