@import '../../styles/variables.scss';
.sideMenuContainer {
  background: $white-color;
  box-shadow: 0px 4px 20px rgba(85, 87, 88, 0.15);
  border-radius: 20px;
  width: 270px;
  padding: 34px 20px 21px 20px;
}
